@font-face {
  font-family: 'Painter';
  src: url(../fonts/Painter_PERSONAL_USE_ONLY.ttf);
}
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.text-uppercase{
  text-transform: uppercase !important;
}

#logo img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
#logo a{
  font-family: 'Painter';
  font-size: 56px;
  color: #000;
}

.main-menu{
  padding-top: 20px;
  padding-bottom: 20px;
}
.module{
  padding: 80px 0 100px;
}
#searchInput{
  display: block;
  width: 100%;
  padding: 12px;
  background: #fff;
  border: 1px solid #a8a8a8;
  border-radius: 5px;
}
.formResults{
  background: #57a99a;
}
.formResults li{
  cursor: pointer;
  padding: 10px;
}
.formResults li a{
  color: #ecf4f3;
}
.formResults li:hover{
  background: #76dbd1;
}
.formResults img{
  width: 60px;
}
.formResults .movieDetail{
  display: inline-block;
  vertical-align: bottom;
  padding-left: 20px;
}
.newMovie img{
  width: 100%;
  padding: 10px;
}
.newMovie .movieInfo{
  /* position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  top: 25%; */
  padding: 10px;
}